body
{
	background-color:gray;
	font-family: 'Ubuntu', sans-serif;
}
#container
{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}
#logo
{
	color:white;
	margin-top:40px;
	font-size:94px;
	letter-spacing:3px;
	font-family: 'Abril Fatface', cursive;
}
#content 
{
	float:left;
	width:800px;
	min-height:560px;
	background-color: white;
	color: #404040;
	text-align:justify;
	padding:20px;
	letter-spacing:3px;
	font-size:15px;
}
#ad
{
	float:left;
	width:160px;
	min-height:630px;

}
#footer
{
	clear:both;
	background-color: black;
	color:white;
	font-size:15px;
	padding:20px;
	text-align: center;
}